@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>carlocaunca.com</h1>
    <p class="lead">Welcome to Carlo Caunca's development portfolio.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Fall Down</h2>
        <p>
            Recreating my favorite TI-83 game, Fall Down!
        </p>
        <p><a class="btn btn-default" href="/Home/FallDown">Fall Down &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Space Invaders</h2>
        <p>
            Recreating the classic arcade game Space Invaders, one Design Pattern at a time.
        </p>
        <p><a class="btn btn-default" href="/Home/SpaceInvaders">Space Invaders &raquo;</a></p>
    </div>
</div>